[submodule "ROS_ws/src/nucleo_agent"]
	path = ROS_ws/src/nucleo_agent
	url = https://github.com/NeyagawaRobocons/nucleo_agent
[submodule "ROS_ws/src/mecha_control"]
	path = ROS_ws/src/mecha_control
	url = https://github.com/NeyagawaRobocons/mecha_control
[submodule "ROS_ws/src/pc_robot_controller"]
	path = ROS_ws/src/pc_robot_controller
	url = https://github.com/NeyagawaRobocons/pc_robot_controller
[submodule "ROS_ws/src/chassis_haru_robo2024"]
	path = ROS_ws/src/chassis_haru_robo2024
	url = https://github.com/NeyagawaRobocons/chassis_haru_robo2024
[submodule "ROS_ws/src/robot_master"]
	path = ROS_ws/src/robot_master
	url = https://github.com/NeyagawaRobocons/robot_master
[submodule "ROS_ws/src/emcl2_ros2"]
	path = ROS_ws/src/emcl2_ros2
	url = https://github.com/NeyagawaRobocons/emcl2_ros2
[submodule "ROS_ws/src/laser_filters"]
	path = ROS_ws/src/laser_filters
	url = https://github.com/NeyagawaRobocons/laser_filters
[submodule "ROS_ws/src/ldlidar"]
	path = ROS_ws/src/ldlidar
	url = https://github.com/NeyagawaRobocons/ldlidar
